venv/
db.sqlite3
.idea/
front/

/static/assets/img/header/1.jpg
/static/assets/img/team/1.jpg
/static/img/header/1.jpg
/static/img/team/1.jpg
/static/assets/img/header/2.jpg
/static/assets/img/team/2.jpg
/static/img/header/2.jpg
/static/img/team/2.jpg
/products/migrations/0002_comment.py
/static/assets/img/team/3.jpg
/static/img/team/3.jpg
/static/assets/img/team/4.jpg
/static/img/team/4.jpg
/cart/migrations/__init__.py
/cart/__init__.py
/static/assets/css/_base.css
/cart/admin.py
/cart/apps.py
/static/assets/img/brand/b1.jpg
/static/img/brand/b1.jpg
/static/assets/img/banner/banner-1.jpg
/static/img/banner/banner-1.jpg
/static/assets/img/banner/banner-2.jpg
/static/img/banner/banner-2.jpg
/static/assets/img/banner/banner-3.jpg
/static/img/banner/banner-3.jpg
/static/assets/img/banner/banner-4.jpg
/static/img/banner/banner-4.jpg
/static/assets/img/banner/banner-5.jpg
/static/img/banner/banner-5.jpg
/static/assets/img/banner/banner-6.jpg
/static/img/banner/banner-6.jpg
/static/assets/img/banner/banner-7.jpg
/static/img/banner/banner-7.jpg
/static/assets/img/banner/banner-8.jpg
/static/img/banner/banner-8.jpg
/static/assets/img/banner/banner-9.jpg
/static/img/banner/banner-9.jpg
/static/assets/img/banner/banner-10.jpg
/static/img/banner/banner-10.jpg
/static/assets/img/banner/banner-11.jpg
/static/img/banner/banner-11.jpg
/static/assets/img/banner/banner-12.jpg
/static/img/banner/banner-12.jpg
/static/assets/img/banner/banner-13.jpg
/static/img/banner/banner-13.jpg
/static/assets/img/banner/banner-14.jpg
/static/img/banner/banner-14.jpg
/static/assets/img/banner/banner-15.jpg
/static/img/banner/banner-15.jpg
/static/assets/img/banner/banner-16.jpg
/static/img/banner/banner-16.jpg
/static/assets/img/banner/banner-17.jpg
/static/img/banner/banner-17.jpg
/static/assets/img/banner/banner-18.jpg
/static/img/banner/banner-18.jpg
/static/assets/img/banner/banner-19.jpg
/static/img/banner/banner-19.jpg
/static/assets/img/banner/banner-20.jpg
/static/img/banner/banner-20.jpg
/static/assets/img/banner/banner-20.png
/static/img/banner/banner-20.png
/static/assets/img/banner/banner-21.jpg
/static/img/banner/banner-21.jpg
/static/assets/img/banner/banner-22.png
/static/img/banner/banner-22.png
/static/assets/img/banner/banner-23.jpg
/static/img/banner/banner-23.jpg
/static/assets/img/banner/banner-24.jpg
/static/img/banner/banner-24.jpg
/static/assets/img/banner/banner-25.jpg
/static/img/banner/banner-25.jpg
/static/assets/img/banner/banner-26.jpg
/static/img/banner/banner-26.jpg
/static/assets/img/banner/banner-27.jpg
/static/img/banner/banner-27.jpg
/static/assets/img/banner/banner-28.jpg
/static/img/banner/banner-28.jpg
/static/assets/img/banner/banner-29.jpg
/static/img/banner/banner-29.jpg
/static/assets/img/banner/banner-30.jpg
/static/img/banner/banner-30.jpg
/static/assets/img/banner/banner-31.jpg
/static/img/banner/banner-31.jpg
/static/assets/img/bg/bg-1.jpg
/static/img/bg/bg-1.jpg
/static/assets/img/bg/bg-2.jpg
/static/img/bg/bg-2.jpg
/static/assets/img/bg/bg-4.jpg
/static/img/bg/bg-4.jpg
/static/assets/img/blog/blog2-1024x613.jpg
/static/img/blog/blog2-1024x613.jpg
/static/assets/img/blog/blog3.jpg
/static/img/blog/blog3.jpg
/static/assets/img/blog/blog5.jpg
/static/img/blog/blog5.jpg
/static/assets/img/blog/blog-1.jpg
/static/img/blog/blog-1.jpg
/static/assets/img/blog/blog-1-70x70.jpg
/static/img/blog/blog-1-70x70.jpg
/static/assets/img/blog/blog-1-500x400.jpg
/static/img/blog/blog-1-500x400.jpg
/static/assets/img/blog/blog-2.jpg
/static/img/blog/blog-2.jpg
/static/assets/img/blog/blog-2-870x504.jpg
/static/img/blog/blog-2-870x504.jpg
/static/assets/img/blog/blog-3.jpg
/static/img/blog/blog-3.jpg
/static/assets/img/blog/blog-3-70x70.jpg
/static/img/blog/blog-3-70x70.jpg
/static/assets/img/blog/blog-3-100x100.jpg
/static/img/blog/blog-3-100x100.jpg
/static/assets/img/blog/blog-3-500x400.jpg
/static/img/blog/blog-3-500x400.jpg
/static/assets/img/blog/blog-3-870x504.jpg
/static/img/blog/blog-3-870x504.jpg
/static/assets/img/blog/blog-3--390x390.jpg
/static/img/blog/blog-3--390x390.jpg
/static/assets/img/blog/blog-4-870x504.jpg
/static/img/blog/blog-4-870x504.jpg
/static/assets/img/blog/blog-5.jpg
/static/img/blog/blog-5.jpg
/static/assets/img/blog/blog-5-390x390.jpg
/static/img/blog/blog-5-390x390.jpg
/static/assets/img/blog/blog-6.jpg
/static/img/blog/blog-6.jpg
/static/assets/img/blog/blog-6-390x390.jpg
/static/img/blog/blog-6-390x390.jpg
/static/assets/img/blog/blog-7.jpg
/static/img/blog/blog-7.jpg
/static/assets/img/blog/blog-7-390x390.jpg
/static/img/blog/blog-7-390x390.jpg
/static/assets/img/blog/blog-8.jpg
/static/img/blog/blog-8.jpg
/static/assets/img/blog/blog-8-390x390.jpg
/static/img/blog/blog-8-390x390.jpg
/static/assets/img/blog/blog-9.jpg
/static/img/blog/blog-9.jpg
/static/assets/img/blog/blog-9-390x390.jpg
/static/img/blog/blog-9-390x390.jpg
/static/assets/img/blog/blog-9-500x400.jpg
/static/img/blog/blog-9-500x400.jpg
/static/assets/img/blog/blog-9-870x504.jpg
/static/img/blog/blog-9-870x504.jpg
/static/assets/img/blog/blog-10.jpg
/static/img/blog/blog-10.jpg
/static/assets/img/blog/blog-10-390x390.jpg
/static/img/blog/blog-10-390x390.jpg
/static/assets/img/blog/blog-10-500x400.jpg
/static/img/blog/blog-10-500x400.jpg
/static/assets/img/blog/blog-10-870x504.jpg
/static/img/blog/blog-10-870x504.jpg
/static/assets/img/blog/blog-11.jpg
/static/img/blog/blog-11.jpg
/static/assets/img/blog/blog-11-390x390.jpg
/static/img/blog/blog-11-390x390.jpg
/static/assets/img/blog/blog-11-870x504.jpg
/static/img/blog/blog-11-870x504.jpg
/static/assets/img/blog/blog-12-870x504.jpg
/static/img/blog/blog-12-870x504.jpg
/static/assets/img/blog/blog-13.jpg
/static/img/blog/blog-13.jpg
/static/assets/img/blog/blog-13-100x100.jpg
/static/img/blog/blog-13-100x100.jpg
/static/assets/img/blog/blog-13-390x390.jpg
/static/img/blog/blog-13-390x390.jpg
/static/assets/img/blog/blog-13-870x504.jpg
/static/img/blog/blog-13-870x504.jpg
/static/assets/img/blog/blog-14-870x504.jpg
/static/img/blog/blog-14-870x504.jpg
/static/assets/img/blog/blog-f-2.jpg
/static/img/blog/blog-f-2.jpg
/static/assets/img/blog/blog_beuty.jpg
/static/img/blog/blog_beuty.jpg
/static/assets/img/blog/blog_beuty2.jpg
/static/img/blog/blog_beuty2.jpg
/static/assets/img/blog/blog_beuty2-70x70.jpg
/static/img/blog/blog_beuty2-70x70.jpg
/static/assets/img/blog/blog_beuty2-390x390.jpg
/static/img/blog/blog_beuty2-390x390.jpg
/static/assets/img/blog/blog_beuty2-870x504.jpg
/static/img/blog/blog_beuty2-870x504.jpg
/static/assets/img/blog/blog_beuty2-big.jpg
/static/img/blog/blog_beuty2-big.jpg
/static/assets/img/blog/blog_beuty-70x70.jpg
/static/img/blog/blog_beuty-70x70.jpg
/static/assets/img/blog/blog_beuty-390x390.jpg
/static/img/blog/blog_beuty-390x390.jpg
/static/assets/img/blog/blog_beuty-870x504.jpg
/static/img/blog/blog_beuty-870x504.jpg
/static/assets/img/blog/blog_beuty-big.jpg
/static/img/blog/blog_beuty-big.jpg
/static/assets/img/blog/blog_detail_1.jpg
/static/img/blog/blog_detail_1.jpg
/static/assets/img/blog/blog_detail_2.jpg
/static/img/blog/blog_detail_2.jpg
/static/assets/img/codingyar_logo.png
/static/img/codingyar_logo.png
/static/assets/img/others/comment-1.jpg
/static/img/others/comment-1.jpg
/static/assets/img/others/comment-2.jpg
/static/img/others/comment-2.jpg
/static/assets/img/others/comment-3.jpg
/static/img/others/comment-3.jpg
/static/assets/img/icons/cross.png
/static/img/icons/cross.png
/products/locale/fa/LC_MESSAGES/django.mo
/products/locale/fa/LC_MESSAGES/django.po
/static/assets/img/favicon.ico
/static/img/favicon.ico
/static/assets/fonts/flaticon.eot
/static/fonts/flaticon.eot
/static/assets/fonts/flaticon.html
/static/fonts/flaticon.html
/static/assets/fonts/flaticon.otf
/static/fonts/flaticon.otf
/static/assets/fonts/flaticon.svg
/static/fonts/flaticon.svg
/static/assets/fonts/flaticon.ttf
/static/fonts/flaticon.ttf
/static/assets/fonts/flaticon.woff
/static/fonts/flaticon.woff
/static/assets/fonts/FontAwesome.otf
/static/fonts/FontAwesome.otf
/static/assets/fonts/fontawesome-webfont.eot
/static/fonts/fontawesome-webfont.eot
/static/assets/fonts/fontawesome-webfont.svg
/static/fonts/fontawesome-webfont.svg
/static/assets/fonts/fontawesome-webfont.ttf
/static/fonts/fontawesome-webfont.ttf
/static/assets/fonts/fontawesome-webfont.woff
/static/fonts/fontawesome-webfont.woff
/static/assets/fonts/fontawesome-webfont.woff2
/static/fonts/fontawesome-webfont.woff2
/static/assets/img/icons/grid.png
/static/img/icons/grid.png
/static/assets/img/icon.png
/static/img/icon.png
/static/assets/fonts/iransansx/woff/IRANSansX-Bold.woff
/static/fonts/iransansx/woff/IRANSansX-Bold.woff
/static/assets/fonts/iransansx/woff2/IRANSansX-Bold.woff2
/static/fonts/iransansx/woff2/IRANSansX-Bold.woff2
/static/assets/fonts/iransansx/woff/IRANSansX-Regular.woff
/static/fonts/iransansx/woff/IRANSansX-Regular.woff
/static/assets/fonts/iransansx/woff2/IRANSansX-Regular.woff2
/static/fonts/iransansx/woff2/IRANSansX-Regular.woff2
/static/assets/fonts/lg.eot
/static/fonts/lg.eot
/static/assets/fonts/lg.svg
/static/fonts/lg.svg
/static/assets/fonts/lg.ttf
/static/fonts/lg.ttf
/static/assets/fonts/lg.woff
/static/fonts/lg.woff
/static/assets/img/icons/list.png
/static/img/icons/list.png
/static/assets/img/icons/loading.gif
/static/img/icons/loading.gif
/static/assets/img/logo/logo.png
/static/img/logo/logo.png
/static/assets/img/logo/logo-white.png
/static/img/logo/logo-white.png
/static/assets/css/main.css
/static/assets/js/main.js
/static/assets/img/icons/marker.png
/static/img/icons/marker.png
/cart/models.py
/static/assets/img/others/payment.png
/static/img/others/payment.png
/static/assets/img/icons/play.png
/static/img/icons/play.png
/static/assets/img/blog/post-1-1.jpg
/static/img/blog/post-1-1.jpg
/static/assets/img/blog/post-1-1-870x504.jpg
/static/img/blog/post-1-1-870x504.jpg
/static/assets/img/products/prod-1.jpg
/static/img/products/prod-1.jpg
/static/assets/img/products/prod-1-100x100.jpg
/static/img/products/prod-1-100x100.jpg
/static/assets/img/products/prod-2.jpg
/static/img/products/prod-2.jpg
/static/assets/img/products/prod-2-100x100.jpg
/static/img/products/prod-2-100x100.jpg
/static/assets/img/products/prod-3.jpg
/static/img/products/prod-3.jpg
/static/assets/img/products/prod-4.jpg
/static/img/products/prod-4.jpg
/static/assets/img/products/prod-5.jpg
/static/img/products/prod-5.jpg
/static/assets/img/products/prod-5-100x100.jpg
/static/img/products/prod-5-100x100.jpg
/static/assets/img/products/prod-6.jpg
/static/img/products/prod-6.jpg
/static/assets/img/products/prod-7.jpg
/static/img/products/prod-7.jpg
/static/assets/img/products/prod-8.jpg
/static/img/products/prod-8.jpg
/static/assets/img/products/prod-9.jpg
/static/img/products/prod-9.jpg
/static/assets/img/products/prod-9-1.jpg
/static/img/products/prod-9-1.jpg
/static/assets/img/products/prod-9-1.png
/static/img/products/prod-9-1.png
/static/assets/img/products/prod-9-1-170x195.jpg
/static/img/products/prod-9-1-170x195.jpg
/static/assets/img/products/prod-9-250x235.jpg
/static/img/products/prod-9-250x235.jpg
/static/assets/img/products/prod-10.jpg
/static/img/products/prod-10.jpg
/static/assets/img/products/prod-10-70x88.jpg
/static/img/products/prod-10-70x88.jpg
/static/assets/img/products/prod-11.jpg
/static/img/products/prod-11.jpg
/static/assets/img/products/prod-11-70x88.jpg
/static/img/products/prod-11-70x88.jpg
/static/assets/img/products/prod-12.jpg
/static/img/products/prod-12.jpg
/static/assets/img/products/prod-12-70x88.jpg
/static/img/products/prod-12-70x88.jpg
/static/assets/img/products/prod-12-250x235.jpg
/static/img/products/prod-12-250x235.jpg
/static/assets/img/products/prod-13.jpg
/static/img/products/prod-13.jpg
/static/assets/img/products/prod-13-70x88.jpg
/static/img/products/prod-13-70x88.jpg
/static/assets/img/products/prod-13-320x370.jpg
/static/img/products/prod-13-320x370.jpg
/static/assets/img/products/prod-14.jpg
/static/img/products/prod-14.jpg
/static/assets/img/products/prod-14-320x370.jpg
/static/img/products/prod-14-320x370.jpg
/static/assets/img/products/prod-15.jpg
/static/img/products/prod-15.jpg
/static/assets/img/products/prod-15-320x370.jpg
/static/img/products/prod-15-320x370.jpg
/static/assets/img/products/prod-16.jpg
/static/img/products/prod-16.jpg
/static/assets/img/products/prod-16-320x370.jpg
/static/img/products/prod-16-320x370.jpg
/static/assets/img/products/prod-17.jpg
/static/img/products/prod-17.jpg
/static/assets/img/products/prod-17-250x235.jpg
/static/img/products/prod-17-250x235.jpg
/static/assets/img/products/prod-18.jpg
/static/img/products/prod-18.jpg
/static/assets/img/products/prod-19.jpg
/static/img/products/prod-19.jpg
/static/assets/img/products/prod-19-250x235.jpg
/static/img/products/prod-19-250x235.jpg
/static/assets/img/products/prod-20.jpg
/static/img/products/prod-20.jpg
/static/assets/img/products/prod-20-1.png
/static/img/products/prod-20-1.png
/static/assets/img/products/prod-20-250x235.jpg
/static/img/products/prod-20-250x235.jpg
/static/assets/img/products/prod-20-320x370.jpg
/static/img/products/prod-20-320x370.jpg
/static/assets/img/products/prod-21.jpg
/static/img/products/prod-21.jpg
/static/assets/img/products/prod-22.jpg
/static/img/products/prod-22.jpg
/static/assets/img/products/prod-23.jpg
/static/img/products/prod-23.jpg
/static/assets/img/products/prod-23-1.png
/static/img/products/prod-23-1.png
/static/assets/img/products/prod-23-320x370.jpg
/static/img/products/prod-23-320x370.jpg
/static/assets/img/products/prod-24.jpg
/static/img/products/prod-24.jpg
/static/assets/img/products/prod-24-250x235.jpg
/static/img/products/prod-24-250x235.jpg
/static/assets/img/products/prod-25.jpg
/static/img/products/prod-25.jpg
/static/assets/img/products/prod-25-170x195.jpg
/static/img/products/prod-25-170x195.jpg
/static/assets/img/products/prod-25-250x235.jpg
/static/img/products/prod-25-250x235.jpg
/static/assets/img/products/prod-25-320x370.jpg
/static/img/products/prod-25-320x370.jpg
/static/assets/img/products/prod-26.jpg
/static/img/products/prod-26.jpg
/static/assets/img/products/prod-26-320x370.jpg
/static/img/products/prod-26-320x370.jpg
/static/assets/img/products/prod-27.jpg
/static/img/products/prod-27.jpg
/static/assets/img/products/prod-27-250x235.jpg
/static/img/products/prod-27-250x235.jpg
/static/assets/img/products/prod-27-320x370.jpg
/static/img/products/prod-27-320x370.jpg
/static/assets/img/products/prod-28.jpg
/static/img/products/prod-28.jpg
/static/assets/img/products/prod-28-320x370.jpg
/static/img/products/prod-28-320x370.jpg
/static/assets/img/products/prod-29.jpg
/static/img/products/prod-29.jpg
/static/assets/img/products/prod-30.jpg
/static/img/products/prod-30.jpg
/static/assets/img/products/prod-31.jpg
/static/img/products/prod-31.jpg
/static/assets/img/products/prod-31-170x195.jpg
/static/img/products/prod-31-170x195.jpg
/static/assets/img/products/prod-32.jpg
/static/img/products/prod-32.jpg
/static/assets/img/products/prod-32-170x195.jpg
/static/img/products/prod-32-170x195.jpg
/static/assets/img/products/prod-33.jpg
/static/img/products/prod-33.jpg
/static/assets/img/products/prod-33-170x195.jpg
/static/img/products/prod-33-170x195.jpg
/static/assets/img/products/prod-34.jpg
/static/img/products/prod-34.jpg
/static/assets/img/products/prod-34-170x195.jpg
/static/img/products/prod-34-170x195.jpg
/static/assets/img/products/prod-35.jpg
/static/img/products/prod-35.jpg
/static/assets/img/products/prod-35-1.jpg
/static/img/products/prod-35-1.jpg
/static/assets/img/products/prod-35-2.jpg
/static/img/products/prod-35-2.jpg
/static/assets/img/products/prod-35-3.jpg
/static/img/products/prod-35-3.jpg
/static/assets/img/products/prod-36-1.jpg
/static/img/products/prod-36-1.jpg
/static/assets/img/slider/slider-1.jpg
/static/img/slider/slider-1.jpg
/static/assets/img/slider/slider-2.jpg
/static/img/slider/slider-2.jpg
/static/assets/img/slider/slider-3.jpg
/static/img/slider/slider-3.jpg
/static/assets/img/slider/slider-4.jpg
/static/img/slider/slider-4.jpg
/static/assets/img/slider/slider-5.jpg
/static/img/slider/slider-5.jpg
/static/assets/img/slider/slider-6.jpg
/static/img/slider/slider-6.jpg
/static/assets/img/slider/slider-7.jpg
/static/img/slider/slider-7.jpg
/static/assets/img/slider/slider-8.jpg
/static/img/slider/slider-8.jpg
/static/assets/img/slider/slider-9.jpg
/static/img/slider/slider-9.jpg
/static/assets/img/slider/slider-10.jpg
/static/img/slider/slider-10.jpg
/static/assets/img/slider/slider-11.jpg
/static/img/slider/slider-11.jpg
/static/assets/img/slider/slider-12.jpg
/static/img/slider/slider-12.jpg
/static/assets/img/slider/slider-12-1.jpg
/static/img/slider/slider-12-1.jpg
/static/assets/img/slider/slider-13.jpg
/static/img/slider/slider-13.jpg
/static/assets/img/slider/slider-14.jpg
/static/img/slider/slider-14.jpg
/static/assets/img/slider/slider-15.jpg
/static/img/slider/slider-15.jpg
/static/assets/img/slider/slider-16.jpg
/static/img/slider/slider-16.jpg
/static/assets/img/slider/slider-17.jpg
/static/img/slider/slider-17.jpg
/static/assets/img/slider/slider-18.jpg
/static/img/slider/slider-18.jpg
/static/assets/img/slider/slider-19.jpg
/static/img/slider/slider-19.jpg
/static/assets/img/slider/slider-20.jpg
/static/img/slider/slider-20.jpg
/static/assets/img/testmonial/t1.png
/static/img/testmonial/t1.png
/static/assets/img/testmonial/t2.png
/static/img/testmonial/t2.png
/static/assets/img/testmonial/t3.png
/static/img/testmonial/t3.png
/static/assets/img/testmonial/t4.png
/static/img/testmonial/t4.png
/cart/tests.py
/static/assets/img/thumbnail/th1.png
/static/img/thumbnail/th1.png
/static/assets/img/thumbnail/th2.png
/static/img/thumbnail/th2.png
/static/assets/img/thumbnail/th3.png
/static/img/thumbnail/th3.png
/static/assets/img/thumbnail/th4.png
/static/img/thumbnail/th4.png
/static/assets/img/thumbnail/th5.png
/static/img/thumbnail/th5.png
/static/assets/fonts/themify.eot
/static/fonts/themify.eot
/static/assets/fonts/themify.svg
/static/fonts/themify.svg
/static/assets/fonts/themify.ttf
/static/fonts/themify.ttf
/static/assets/fonts/themify.woff
/static/fonts/themify.woff
/static/assets/css/vendor.css
/static/assets/js/vendor.js
/cart/views.py
